config.*
m4
stamp-h1
*.o
*.lo
*.la
libtool
autom4te.cache
aclocal.m4
configure
Makefile
*.in
*~
missing
ltmain.sh
install-sh
compile
depcomp
.deps
.dirstamp
.libs
test-driver
*.core
*.log
core
*.trs
core-fullstack
transactor
vgcore.*
src/asn1-support
src/libpraefectus/messages
gen-dsa-parms
*.t
test/libpraefectus/clock-sim
src/praef
*.gcda
*.gcno
*.gcov
nbodies-vnet-4-ideal
src/nbodies/nbodies-vis
src/nbodies/nbodies-vnet-8-latent-lossy
udp-common
